@import "variables";

.portfolio__container {
  overflow: initial;
  row-gap: 4em;
}

.portfolio__content {
  padding: 0 1.5rem;
  background: $container-color;
  border-radius: 0.25rem;
  padding: 2em;

}
.reverse{
  order: 1;
}
.portfolio__images{
  display: grid;
  grid-template-columns: 1fr .5fr;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.portfolio__mobile{
  width: 80px;
  justify-self: start;
}

.portfolio__img {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.4);
}

.portfolio__title {
  font-size: $h3-font-size;
  margin-bottom: $mb-0-5;
}

.portfolio__description {
  margin-bottom: $mb-0-75;
}
.button__icon {
  transform: translateX(0.25rem);
}
.portfolio__button {
  &:hover {
    transform: translateX(0.25rem);
  }
}
.portfolio__buttons{
  display: flex;
  gap: 1em;
}
