.skill__container {
  row-gap: 0;
}

.skills__section {
  padding-bottom: 2em;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: $mb-2-5;
  cursor: pointer;
}
.skill__stacks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.stack {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.4em;
}

.stack i {
  font-size: 4.5rem;
  color: rgba($color: #000000, $alpha: 0.9);
}
.skill__name {
  font-weight: bolder;
  color: #000000;
  border-top: solid;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: $first-color;
}

.skills__icon {
  margin-right: $mb-0-75;
}

.skills__title {
  font-size: $h3-font-size;
}

.skills__subtitle {
  font-size: $small-font-size;
  color: $text-color-light;
}
.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
  /* custom */
  // padding-inline: 1.4rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: $mb-0-5;
}
.skills__name {
  font-size: $normal-font-size;
  font-weight: $font-medium;
}
.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}
/* custom */
.skills__data {
  display: grid;
  gap: 0.5em;
}
.skills__bar {
  background: $first-color-lighter;
  margin-bottom: $mb-0-5;
  .skills__html {
    width: 90%;
  }
  .skills__css {
    width: 90%;
  }
  .skills__js {
    width: 90%;
  }
  .skills__react {
    width: 90%;
  }
  .skills__node {
    width: 90%;
  }
  .skills__python {
    width: 90%;
  }
  .skills__firebase {
    width: 90%;
  }
}
.skills__percentage {
  display: block;
  background: $first-color;
}

.skills__open {
  transform: rotate(180deg);
}
